spring:
  application:
    name: Spring_boot_mysql_crud_operations
  datasource:
    password: Springusa@2025
    url: jdbc:mysql://localhost:3306/crud?createDatabaseIfNotExist=true
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: true
